.DateRangePickerInput {
  background-color: #008489;
  border-radius: 4px;
}

.CalendarMonth_caption {
  color: #383838;
}

.DateInput_input {
  padding: 0;
  border: none;
}
.DateInput {
  background-color: transparent;
}
.DateInput input {
  font-family: "Circular Air", "Arial", "Helvetica", sans-serif;
  background-color: transparent;
  color: #fff;
}
.DateInput input:-webkit-input-placeholder {
  color: #fff;
}
.DateInput_input__focused {
  border: none;
  background-color: transparent;
}
.DayPicker {
  box-shadow: none;
}
.DayPickerNavigation_container {
  display: none;
}
