@font-face {
  font-family: "Circular_Air-Bold";
  src: url("./fonts/Circular_Air-Bold.woff"),
    url("./fonts/Circular_Air-Bold.ttf");
}

@font-face {
  font-family: "CircularAir";
  src: url("./fonts/Circular_Air-Book.woff"),
    url("./fonts/Circular_Air-Book.ttf");
}

@font-face {
  font-family: "Circular_Air-Light";
  src: url("./fonts/Circular_Air-Light.woff"),
    url("./fonts/Circular_Air-Light.ttf");
}

.container {
  width: 976px;
  margin: 0 auto;
  padding: 0 10px;
}
